@import "../../node_modules/normalize.css/normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow-x: hidden;
  background: #000 url("../img/bg.jpeg") 50% 0 no-repeat;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
    background: #000 url("../img/bg-mob.jpeg") no-repeat 50% 0 / cover;
  }
}
